<ion-view title="CONTACT" id="page20">
  <ion-content padding="true" class="has-header">
    <form id="cONTACT-form11" class="list">
      <label class="item item-input" id="cONTACT-input9">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cONTACT-input10">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cONTACT-input14">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="cONTACT-textarea2">
        <span class="input-label">Question</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="cONTACT-button21" class="button button-assertive  button-block">SEND</button>
  </ion-content>
</ion-view>