<ion-view title=" Détail" id="page13">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="list card" id="DTail-card22">
      <ion-item class="item-thumbnail-left assertive" id="DTail-list-item61" ui-sref="tabsController.restaurantLocation">
        <img src="img/9eYHjHROKY3ak49YtYgU_6YmT0SxQTAqeZj1S1KCN_ALS-Food-Hero.jpg">
        <h2assertive>Hoang Yen Res
          <p style="white-space:normal;">Adds : Le Thanh Ton, Quan 1</p>
        </h2assertive>
      </ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="DTail-slider3" style="width:100%;height:200px;">
        <ion-slide-page id="DTail-slide213" style="background:url(&quot;img/DaPFuH5SQXushNnCHvkz_8rymvOEKSEmqP0zrbAtc_temp2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="DTail-slide214" style="background:url(&quot;img/qIGHf8aTkqV5dFur6Qgk_ENUV5W3dRISLGoE6t0Gl_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg&quot;) no-repeat center;background-size:cover;"
         ></ion-slide-page>
        <ion-slide-page id="DTail-slide215" style="background:url(&quot;img/SNcPt2WCSv6sBbB1Rv0x_Hu00f9khT2qTUeiIzghZ_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg&quot;) no-repeat center;background-size:cover;"
         ></ion-slide-page>
      </ion-slides>
      <form id="DTail-form14" class="list">
        <div class="spacer" style="height: 15px;"></div>
        <div id="DTail-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Mon
            <strong>Khai Vi</strong>
          </p>
        </div>
        <ion-item class="item-thumbnail-left item-icon-right assertive" id="DTail-list-item65">
          <img src="img/8XeJpXyaT0nYhyWY8CNg_ENUV5W3dRISLGoE6t0Gl_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg">
          <h2assertive>Bo Ne
            <p>Price : 20.000</p>
            <i class="icon ion-ios-cart"></i>
          </h2assertive>
        </ion-item>
        <div class="spacer" style="height: 15px;"></div>
        <div id="DTail-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#000000;">Mon
            <strong>Chinh</strong>
          </p>
        </div>
        <ion-item class="item-thumbnail-left item-icon-right assertive" id="DTail-list-item67">
          <img src="img/JEhMC35NTWuegKnpnX2s_8rymvOEKSEmqP0zrbAtc_temp2.jpg">
          <h2assertive>Com Chien Thap Cam
            <p>Price : 50.000</p>
            <i class="icon ion-ios-cart"></i>
          </h2assertive>
        </ion-item>
      </form>
    </div>
  </ion-content>
</ion-view>