<ion-view title="{{currentSubject.service_name}}" id="page13">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
   <img src="{{currentSubject.photo1}}" height="150px" width="100%" ui-sref="tabsController.restaurantLocation({
            lat : currentSubject.location.point.latitude,
            lng : currentSubject.location.point.longitude,
            name : currentSubject.location.housenumber + ', ' + currentSubject.location.street + ', ' + currentSubject.location.district + ', ' + currentSubject.location.city})" style="padding-top:10px">

    <div class="row" style="background-color:#404040;border-radius:5px">
      <div class="col">
            <div class="row" style="height:40px; font-size:20px; color:#FF6633;padding-left:0px">
              {{currentSubject.service_name}}
            </div>  
            <p style="color:white">Address : {{currentSubject.location.housenumber}}, {{currentSubject.location.street}}, {{currentSubject.location.district}}, {{currentSubject.location.city}}</p>  
            <!--<p style="color:white" ng-click="call(currentSubject.phone_number)"> Hotline : {{getPhoneNumber()}} </p>-->
      </div>
    </div>
    <div class="row" style="margin-top:10px;" ng-if="averageRating">
        <p style="font-size:20px;font-weight:bold"class="center_div">Note</p>
    </div>
    <div class="row" style="margin-top:10px;" ng-if="averageRating">
        <p class="center_div" style="font-size:35px;font-weight:bold">{{averageRating}}</p>
    </div>
    <div class="row" style="margin-top:10px;" ng-if="!averageRating">
        <ionic-ratings class="center_div" ratingsobj='ratingsObject' index='0'></ionic-ratings>
    </div>
    <div class="row" ng-if="averageRating">
        <ionic-ratings class="center_div" ratingsobj='ratingsObject' index='0'></ionic-ratings>
    </div>
    <div class="row" style="margin-top:10px;" ng-if="currentSubject.ratings.length">
        <p class="ion ion-person center_div" style="font-size:20px"> {{currentSubject.ratings.length}} vues</p>
    </div>
    <div class="row" style="margin-top:10px;" ng-if="currentSubject.photo1">
      <img class="center_div" src="{{currentSubject.photo1}}" width="60%" height="150px;">
    </div>
    <div class="row" style="margin-top:10px;" ng-if="currentSubject.photo2">
      <img class="center_div" src="{{currentSubject.photo2}}" width="60%" height="150px;">
    </div>
    <div class="row">
      <h4>Commentaires</h4>
    </div>
    <hr>
    <div class="row">
      <form id="fOODDETAIL-form13" class="list" ng-submit="handleComment(currentSubject._id)" style="width:100%">
        <label class="item item-input" id="fOODDETAIL-input13">
          <span class="input-label" style="width:0"><img src="{{avatar}}" height = "50px" width="50px"></span>
          <input type="text" placeholder="Donnez votre avis sur ce restaurant" ng-model="comment.content" style="width:100%">
        </label>
      </form>
    </div>
    <my-comments subject=currentSubject></my-comments>
  </ion-content>
</ion-view>