<ion-view title=" Détail" id="page13">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
   <div class="row">
      <div class="col">
         <img src="{{currentSubject.photo1}}" height="150px" width="100%" ui-sref="tabsController.restaurantLocation({
            lat : currentSubject.location.point.latitude,
            lng : currentSubject.location.point.longitude,
            name : currentSubject.location.housenumber + ', ' + currentSubject.location.street + ', ' + currentSubject.location.district + ', ' + currentSubject.location.city})">
      </div>
    </div>
    <div class="row" style="background-color:#696969;border-radius:10px">
      <div class="col col-90">
            <div class="row" style="height:40px; font-size:20px; color:orangered;">
              {{currentSubject.service_name}}
            </div>  
            <p style="color:white">Address : {{currentSubject.location.housenumber}}, {{currentSubject.location.street}}, {{currentSubject.location.district}}, {{currentSubject.location.city}}</p>  
      </div>
      <!--<div class="col center_col" style="margin-top:10%">
        <i style="font-size:30px;color:orangered" ng-class="{'icon ion-ios-heart': liked, 'icon ion-ios-heart-outline': !liked}" ng-click="handleResFav(currentSubject)"></i>
      </div>-->
    </div>
    <div class="row" style="margin-top:10px;">
        <h3 class="center_div">NOTE</h3>
    </div>
    <div class="row">
        <h3 class="center_div" style="font-size:50px">{{averageRating}}</h3>
    </div>
    <div class="row">
        <ionic-ratings class="center_div" ratingsobj='ratingsObject' index='0'></ionic-ratings>
    </div>
    <div class="row" style="margin-top:10px;">
        <p class="ion ion-person center_div" style="font-size:20px"> {{currentSubject.ratings.length}} vues</p>
    </div>
    <div class="row">
      <img class="center_div" src="{{currentSubject.photo1}}" width="60%" height="200px;">
    </div>
    <div class="row" style="margin-top:10px;">
      <img class="center_div" src="{{currentSubject.photo2}}" width="60%" height="200px;">
    </div>
    <div class="row">
      <h4>Commentaires</h4>
    </div>
    <hr>
    <div class="row">
      <form id="fOODDETAIL-form13" class="list" ng-submit="handleComment(currentSubject._id)" style="width:100%">
        <label class="item item-input" id="fOODDETAIL-input13">
          <span class="input-label"><img src="{{avatar}}" height = "50px" width="50px" ></span>
          <input type="text" placeholder="" ng-model="comment.content" style="width:100%">
        </label>
      </form>
    </div>
    <div class="row">
      <div class="list card">
        <my-comments subject=currentSubject></my-comments>
      </div>
    </div>
  </ion-content>
</ion-view>