<ion-view title="Modifier votre profile" id="page21">
  <ion-content padding="true" class="has-header">    
    <img style="max-width:230px;max-height:95px;width:auto;height:auto;" alt="No avatar" ng-src="{{currentUser.avatar}}">
    <button ui-sref="tabsController.uploadPhoto" class="button icon-left ion-upload">Télécharger avatar</button>

    <form id="cONTACT-form11" class="list">
      <label class="item item-input" id="cONTACT-input9">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="" ng-model="currentUser.local.name">
      </label>      
      <label class="item item-input" id="cONTACT-input14">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="" ng-model="currentUser.phone">
      </label>
      <label class="item item-input" id="cONTACT-textarea2">
        <span class="input-label">Sexe</span>        
         <select ng-model="currentUser.gender">            
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
      </label>      
      <label class="item item-input">
        <span class="input-label">Adresse</span>
        <textarea placeholder="" ng-model="currentUser.address"></textarea>
      </label>
      <label class="item item-input">
        <span class="input-label">A propos de</span>
        <textarea placeholder="" ng-model="currentUser.about"></textarea>
      </label>                  
      <label class="item item-input">
        <span class="input-label" ng-model="currentUser.birthday">Date de naissance</span>
        <input type="date" ng-model="currentUser.birthday"></input>
      </label>                  
    </form>        

    <button id="cONTACT-button21" class="button button-assertive  button-block" ng-click="update()">Sauvegarder</button>
  </ion-content>
</ion-view>