<ion-view title="FAVORITE RESTAURANT" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="fAVORITERESTAURANT-list5">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="fAVORITERESTAURANT-list-item39" ui-sref="tabsController.DTail">
        <img src="img/wRRhm04SxONQXF9Imqu7_ENUV5W3dRISLGoE6t0Gl_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg">
        <h2assertive>Mon Bac Res
          <p style="white-space:normal;">Adds : Hung Vuong, Quan 5</p>
          <i class="icon ion-android-delete"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>