<ion-view title="FOOD DETAIL" id="page11">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="list card" id="fOODDETAIL-card21">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="fOODDETAIL-list-item56">
        <img src="img/9eYHjHROKY3ak49YtYgU_6YmT0SxQTAqeZj1S1KCN_ALS-Food-Hero.jpg">
        <h2assertive>{{currentSubject.food_name}}
          <p style="white-space:normal;">Price : {{currentSubject.price}}
            <br>Restaurant : {{currentSubject.res_belong.res_name}}</p>
          <i class="icon ion-ios-heart"></i>
        </h2assertive>
      </ion-item>
      <h2assertive>
        <p align="center">{{averageRating}} / {{currentSubject.ratings.length}} users</p>
      </h2assertive>
      <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="fOODDETAIL-slider2" style="width:100%;height:200px;">
        <ion-slide-page id="fOODDETAIL-slide210" style="background:url(&quot;img/DaPFuH5SQXushNnCHvkz_8rymvOEKSEmqP0zrbAtc_temp2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="fOODDETAIL-slide211" style="background:url(&quot;img/qIGHf8aTkqV5dFur6Qgk_ENUV5W3dRISLGoE6t0Gl_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg&quot;) no-repeat center;background-size:cover;"
         ></ion-slide-page>
        <ion-slide-page id="fOODDETAIL-slide212" style="background:url(&quot;img/SNcPt2WCSv6sBbB1Rv0x_Hu00f9khT2qTUeiIzghZ_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg&quot;) no-repeat center;background-size:cover;"
         ></ion-slide-page>
      </ion-slides>      
      <form class="list" ng-submit="commentButton(currentSubject._id)">
        <label class="item item-input item-stacked-label" id="fOODDETAIL-input13">
          <span class="input-label">Your Comment</span>
          <input type="text" placeholder="" ng-model="comment.content">
        </label>
      </form>
      <ion-item class="item-avatar assertive" id="fOODDETAIL-list-item58" ng-repeat="comment in currentSubject.comments">
        <img src="img/avatar.jpg">
        <h2assertive>{{comment.content}}</h2assertive>
      </ion-item>
    </div>
  </ion-content>
</ion-view>