<ion-view title="ForgotPass" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(img/login_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="signup-form5" class="list">
      <div class="spacer" style="margin-top : 70%"></div>
      <ion-list id="signup-list9">
        <label class="item item-input signup">
          <span class="input-label"><b>Email</b></span>
          <input class="signup_input" type="email" placeholder="" ng-model="newUser.email" required>
        </label>
      </ion-list>
      <div class="row">
          <button ng-click="resetPassword()" id="login-button14" class="button button-assertive button-block center_div">Confirmer</button>
      </div>
    </form>
    <div id="footer_app" class="bar bar-footer">
        <div class="row">
          <a class="center_div" ui-sref="login" style="font-size: 15px;color: black">Se connecter</a>
        </div>
    </div>
  </ion-content>
</ion-view>