<ion-view title="Food">
  <ion-content padding="true" class="has-header">
    <ion-list id="mYCART-list2">
      <ion-item class="item-thumbnail-left item-icon-right assertive" ng-repeat="food in listMenuFood">
        <img src="img/KxegHHPOTYSq6XSp87kE_6YmT0SxQTAqeZj1S1KCN_ALS-Food-Hero.jpg">
        <h2assertive>{{food.food_name}}
          <p style="white-space:normal;">Description : {{food.description}}</p>
          <p style="white-space:normal;">Price : {{food.price}}</p>
          <p></p>
          <p><button class="button button-small button-assertive" ui-sref="tabsController.fOODDETAIL({idFood : food._id})">Détail</button></p>
          <i class="icon ion-android-cart" ng-click="orderFood(food)"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <rating max="5"></rating>
  </ion-content>
</ion-view>