<ion-view title="Restaurant {{listRestaurant[0].type.name}}" id="page17">
  <ion-content padding="true" class="has-header">
      <div class="row">
        <div class="col" style="padding-bottom:0px">
        <label class="item item-input" id="ListrESTAURANT-search2" style="width:100%;padding:0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="searchRestaurant" ng-change="setSearch(searchRestaurant)">
        </label>
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding-top:0px">
        <ion-item style="width:100%;padding:0px">
        <div class="row">
          <div class="col col-67 center_col" style="font-size:100%;">Livraison à domicile?</div>
          <div class="col center_col">
            <i ng-repeat="select in options" style="margin-right:5px">
            <input type="radio" name="selected" ng-click="setSelected(select)">{{select.label}}</i>
            <!--<select style="width : 100%" ng-options="o.label for o in options" 
            ng-model="selected" ng-change="setSelected(selected)">         
            </select>-->
          </div>        
        </div>
      </ion-item>      
        </div>
      </div>   
      <div class="row">
        <div class="col">
          <ion-item style="margin-top:10px; border-radius:5px" class="item-thumbnail-left" id="bARKTV-list-item76" ui-sref="tabsController.restaurantDetail({idRestaurant : restaurant._id})" ng-repeat="restaurant in listRestaurant | filter : isActive">
            <img ng-src="{{restaurant.photo1}}" ng-if="restaurant.photo1">
            <img src="img/resdefault.jpg" height="10%" width="10%" ng-if="!restaurant.photo1">
            <h2assertive>
              <div class="row" style="font-size:18px; padding:0px;padding-top:13px;padding-bottom:6px;color:#FF6633">
                {{restaurant.res_name}}
              </div>
              <div class="row" style="padding:0px;color:white;font-size:10px;white-space: nowrap; width: 20em; overflow: hidden;text-overflow: ellipsis; ">
              {{restaurant.description}}
              </div>
              <div style="padding:0px;color:white;font-size:10px;white-space: nowrap; width: 20em; overflow: hidden;text-overflow: ellipsis; ">
                Address : {{restaurant.location.housenumber}}, {{restaurant.location.street}}, {{restaurant.location.district}}, {{restaurant.location.city}}
              </div>
            </h2assertive>
          </ion-item>
        </div>
      </div>
  </ion-content>
</ion-view>