<ion-view title="Login" hide-nav-bar="true" id="page14">
  <ion-content scroll="false" padding="true" style="background: url(img/login_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form ng-submit="login()" id="login-form7" class="list" style="margin-bottom:0px;padding:0px">
      <div class="spacer" style="margin-top: 70%;"></div>
      <div class="row">
          <div class="col col-33"><b>Utilisateur</b></div>
          <div class="col"><input id="login_mail" type="text" placeholder="" ng-model="user.username" style="width:100%;border-bottom:1px solid red;"></div>
        </div>
      <div class="row">
          <div class="col col-33"><b>Mot de passe</b></div>
          <div class="col"><input id="login_password" type="password" placeholder="" ng-model="user.password" style="width:100%"></div>
        </div>
        <label id="forgot_password" ui-sref="forgotpass" style="padding:0px;margin:0px;margin-top:10px;font-size:15px;" class="item">Mot de passe oublié ?</label>
      <div class="row">
          <button type="submit" id="login-button14" style="background: url(img/login.png)  no-repeat center; background-size: 100% 100%;margin-top:0px" class="button button-small button-block center_div"></button>
      </div>
    </form>
      <div class="row">
          <h3 class="center_div">ou</h3>
      </div>
      <div class="row">
        <div class="col google_col"><img src="img/google.png" alt="Paris" height="40px" width="50px"></div>
        <div class="col center_col"><img src="img/facebook.png" alt="Paris" height="40px" width="50px" ng-click="loginFace()"></div>
        <div class="col weechat_col"><img src="img/weechat.png" alt="Paris" height="40px" width="50px"></div>
      </div>
      <div class="spacer" style="height: 10px;"></div>
    <div id="footer_app" class="bar bar-footer">
      <div class="row">
        <a class="center_div"ui-sref="signup" style="font-size: 12px;color: black">Vous n’avez pas encore le compte? S’inscrire ici</a>
      </div>
    </div>
  </ion-content>
</ion-view>