<ion-view title="Login" hide-nav-bar="true" id="page14">
  <ion-content padding="true" style="background: url(img/login_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form7" class="list">
      <div class="spacer" style="margin-top: 65%;"></div>
      <ion-list id="login-list11">
        
        <label class="item item-input" id="login-input11">
          <span class="input-label"><b>Utilisateur :</b></span>
          <input id="login_mail" type="text" placeholder="" width="48" ng-model="user.username">
        </label>
        <label class="item item-input" id="login-input12">
          <span class="input-label"><b>Mot de passe :</b></span>
          <input id="login_password" type="password" placeholder="" ng-model="user.password">
        </label>
        <label id="forgot_password" ui-sref="forgotpass" class="item">Mot de passe oublié ?</label>
      </ion-list>
      <div class="row">
          <button ng-click="login()" id="login-button14" class="button button-assertive button-block center_div">Se connecter</button>
      </div>
      <div class="row">
          <h3 class="center_div">ou</h3>
      </div>
      <div class="row">
        <div class="col google_col"><img src="../img/google.png" alt="Paris" height="40px" width="50px"></div>
        <div class="col center_col"><img src="../img/facebook.png" alt="Paris" height="40px" width="50px" ng-click="loginFace()"></div>
        <div class="col weechat_col"><img src="../img/weechat.png" alt="Paris" height="40px" width="50px"></div>
      </div>
      <!--<button ng-click="loginFace()" class="button button-positive  button-block">Facebook</button>-->
      <div class="spacer" style="height: 10px;"></div>
      <!--<a ui-sref="signup" id="login-button15" class="button button-assertive  button-block button-clear">Or create an account</a>-->
    </form>
    <div id="footer_app" class="bar bar-footer">
      <div class="row">
        <a class="center_div"ui-sref="signup" style="font-size: 14px;color: black">Vous n’avez pas encore le compte? S’inscrire ici</a>
      </div>
    </div>
  </ion-content>
</ion-view>