<ion-view title="Login" hide-nav-bar="true" id="page14">
  <ion-content padding="true" style="background: url(img/uEpcZXwS3G6j5cMMnNBG_Io8SvZuSTZOWZs86DywQ_Cut-n-Paste.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form7" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <div>
        <img src="img/b5vD1vTbTjyhZRTOwkhD_logo1.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list11">
        <label class="item item-input" id="login-input11">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="user.username">
        </label>
        <label class="item item-input" id="login-input12">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="user.password">
        </label>
      </ion-list>
      <a ng-click="login()" id="login-button14" class="button button-assertive  button-block">Log in</a>
      <button ng-click="LoginwithFacebook()" class="button button-positive  button-block">Facebook</button>
      <a ui-sref="signup" id="login-button15" class="button button-assertive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>