<ion-view title="Loisir Liste" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="loisirListe-form12" class="list">
      <label class="item item-input" id="loisirListe-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left assertive" id="loisirListe-list-item83" ui-sref="tabsController.DTail">
        <img src="img/47qG7ZD7QnaLnKY8Sh3d_6YmT0SxQTAqeZj1S1KCN_ALS-Food-Hero.jpg">
        <h2assertive>Com Chien Toi
          <p>Price : 50.000</p>
        </h2assertive>
      </ion-item>
    </form>
  </ion-content>
</ion-view>