<ion-view title="Loisir" id="page21">
  <ion-content padding="true" class="has-header">
       <div class="row">
        <div class="col" style="padding-bottom:0px">
      <label class="item item-input" id="ListrESTAURANT-search2" style="width:100%;padding:0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="searchLoisir">
        </label>
        </div>
       </div>
        <div class="row">
        <div class="col">
      <ion-item class="item-thumbnail-left assertive" id="loisirListe-list-item83" ui-sref="tabsController.DTail({idSubject : loisir._id})" ng-repeat="loisir in listLoisir | filter:searchLoisir" style="margin-top:10px;border-radius:5px">
       <img ng-src="{{loisir.photo1}}" ng-if="loisir.photo1">
            <img src="img/resdefault.jpg" height="10%" width="10%" ng-if="!loisir.photo1">
            <h2assertive>
              <div class="row" style="font-size:18px; padding:0px;padding-top:13px;padding-bottom:6px;color:#FF6633">
                {{loisir.service_name}}
              </div>
              <div class="row" style="padding:0px;color:white;font-size:10px;">
              {{loisir.service_desciption}}<br>
              </div>
              <div style="padding:0px;color:white;font-size:10px;white-space: nowrap; width: 20em; overflow: hidden;text-overflow: ellipsis; ">
                    Address :{{loisir.location.housenumber}}, {{loisir.location.street}}, {{loisir.location.district}}, {{loisir.location.city}}
              </div>
            </h2assertive>
      </ion-item>
        </div>
        </div>
  </ion-content>
</ion-view>