<ion-view title="MY CART" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="mYCART-list2">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="mYCART-list-item12">
        <img src="img/KxegHHPOTYSq6XSp87kE_6YmT0SxQTAqeZj1S1KCN_ALS-Food-Hero.jpg">
        <h2assertive>My Xao Thap Cam
          <p style="white-space:normal;">Price : 20.000</p>
          <i class="icon ion-android-delete"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="mYCART-list-item21">
        <i class="icon ion-android-cart"></i>Total : 200.000.000</ion-item>
    </ion-list>
    <button id="mYCART-button1" style="border-radius:4px 4px 4px 4px;" class="button button-assertive  button-block">CHECK OUT</button>
  </ion-content>
</ion-view>