<ion-view title="PROFILE" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="pROFILE-list4">
      <ion-item class="item-thumbnail-left assertive" id="pROFILE-list-item28">
        <img ng-src="{{currentUser.avatar}}">
        <h2assertive>{{currentUser.local.name}}
          <p>{{currentUser.about}}</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item29">
        <i class="icon ion-calendar"></i>DOB : {{currentUser.birthday}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item30">
        <i class="icon ion-transgender"></i>Gender : {{currentUser.gender}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item31">
        <i class="icon ion-map"></i>Address : {{currentUser.address}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item32" ui-sref="tabsController.fAVORITERESTAURANT">
        <i class="icon ion-android-restaurant"></i>Favorite Restaurant : {{currentUser.res_favorite.length}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item33" ui-sref="tabsController.fAVORITEFOOD">
        <i class="icon ion-android-restaurant"></i>Favorite Food : {{currentUser.foods_favorite.length}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item34" ui-sref="tabsController.mYORDER">
        <i class="icon ion-ios-cart"></i>My Order : {{orderCurrentUser.length}}</ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item80" ui-sref="tabsController.cONTACT">
        <i class="icon ion-android-contact"></i>Contact</ion-item>
    </ion-list>
    <button id="pROFILE-button2" class="button button-assertive  button-block icon-left ion-upload">Upgrade Account!!</button>
    <a ng-click="logout()" id="pROFILE-button11" class="button button-royal  button-block icon-left ion-log-out">Sign Out</a>
  </ion-content>
</ion-view>