<ion-view title="PROFILE" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="pROFILE-list4">
      <ion-item class="item-thumbnail-left assertive" id="pROFILE-list-item28">
        <img ng-src="{{currentUser.avatar}}">
        <h2assertive>{{currentUser.local.name}}
          <p>{{currentUser.about}}</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item29">
        <div class="row">
            <i class="icon ion-calendar"></i>DOB : {{currentUser.birthday}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item30">
        <div class="row">
            <i class="icon ion-transgender"></i>Gender : {{currentUser.gender}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item31">
        <div class="row">
          <i class="icon ion-map"></i>Address : {{currentUser.address}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item32">
        <div class="row" ui-sref="tabsController.fAVORITERESTAURANT">
           <i class="icon ion-android-restaurant"></i>Favorite Restaurant : {{currentUser.res_favorite.length}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item33">
        <div class="row" ui-sref="tabsController.fAVORITEFOOD">
           <i class="icon ion-android-restaurant"></i>Favorite Food : {{currentUser.foods_favorite.length}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item34">
        <div class="row" ui-sref="tabsController.mYORDER">
            <i class="icon ion-ios-cart"></i>My Order : {{orderCurrentUser.length}}
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item80">
        <div class="row" ui-sref="tabsController.cONTACT">
              <i class="icon ion-android-contact"></i>Contact
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item99">
        <div class="row" ui-sref="tabsController.eDITPROFILE">
          <i class="icon ion-information-circled"></i>Edit Profile
        </div>
      </ion-item>
      <ion-item class="item-icon-left" id="pROFILE-list-item100">
        <div class="row" ui-sref="tabsController.cONDITIONS">
          <i class="icon ion-alert-circled"></i>Conditions générales
        </div>
      </ion-item>
    </ion-list>    
    <a ng-click="logout()" id="pROFILE-button11" class="button button-royal  button-block icon-left ion-log-out">Sign Out</a>
  </ion-content>
</ion-view>