<ion-view title="Restaurant" id="page17" style="font-family: 'Comfortaa', cursive;">
  <ion-content padding="true" class="has-header">
    <form id="rESTAURANT-form8" class="list">
      <div class="row">
              <label class="item item-input" id="ListrESTAURANT-search2" style="width:100%;padding:0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="categoryName">
      </label>
      </div>
      <div class="row" ng-repeat="category in listCategoryRestaurant | filter : categoryName" ng-if="$index % 2 == 0">
        <div class="col">
          <button class="button button-assertive button-block"  style="font-family: 'Comfortaa', cursive;font-size:13px;background-color:#404040;color:white;border-radius:5px"
              ui-sref="tabsController.listRestaurant({idCategory : listCategoryRestaurant[$index]._id})">
              {{listCategoryRestaurant[$index].name}}
          </button>
        </div>
        <div class="col" ng-if="listCategoryRestaurant.length > ($index + 1)">
          <button class="button button-assertive button-block"  style="font-family: 'Comfortaa', cursive; font-size:13px;background-color:#404040;color:white;border-radius:5px"
             ui-sref="tabsController.listRestaurant({idCategory : listCategoryRestaurant[$index+1]._id})">
             {{listCategoryRestaurant[$index+1].name}}
          </button>
        </div>
      </div>
      <!--<ion-item id="rESTAURANT-list-item85" ui-sref="tabsController.listRestaurant({idCategory : category._id})" ng-repeat="category in listCategoryRestaurant | filter : categoryName">{{category.name}}</ion-item>-->
    </form>
  </ion-content>
</ion-view>