<ion-view title="Coffee Shop" id="page18">
  <ion-content padding="true" class="has-header">
     <div class="row">
        <div class="col" style="padding-bottom:0px">
      <label class="item item-input" id="ListrESTAURANT-search2" style="width:100%;padding:0px;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="searchSalon">
        </label>
        </div>
       </div>
        <div class="row">
        <div class="col">
      <ion-item class="item-thumbnail-left assertive" id="loisirListe-list-item83" ui-sref="tabsController.DTail({idSubject : salon._id})" ng-repeat="salon in listSalon | filter:searchSalon" style="margin-top:10px">
       <img ng-src="{{salon.photo1}}" ng-if="salon.photo1">
            <img src="img/resdefault.jpg" height="10%" width="10%" ng-if="!salon.photo1">
            <h2assertive>
              <div class="row" style="font-size:18px; padding:0px;padding-top:13px;padding-bottom:6px;color:#FF6633">
                {{salon.service_name}}
              </div>
              <div class="row" style="padding:0px;color:white;font-size:10px;">
              Description : {{salon.service_desciption}}<br>
              Address :{{salon.location.housenumber}}, {{salon.location.street}}, {{salon.location.district}}, {{salon.location.city}}
              </div>
            </h2assertive>
      </ion-item>
    </div>
    </div>
  </ion-content>
</ion-view>