<ion-view title="Signup" hide-nav-bar="true" id="page12">
  <ion-content padding="true" style="background: url(img/login_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="signup-form5" class="list" ng-submit="register()">
      <div class="spacer" style="margin-top: 65%;"></div>
      <ion-list id="signup-list9">
        <label class="item item-input signup">
          <span class="input-label"><b>Email</b></span>
          <input class="signup_input" type="email" ng-model="newUser.email" required>
        </label>
         <label class="item item-input signup">
          <span class="input-label"><b>First Name</b></span>
          <input class="signup_input" type="text" ng-model="newUser.firstname" required>
        </label>
        <label class="item item-input signup">
          <span class="input-label"><b>Last Name</b></span>
          <input class="signup_input" type="text" ng-model="newUser.lastname" required>
        </label>
        <label class="item item-input signup">
          <span class="input-label"><b>Password</b></span>
          <input class="signup_input" type="password" ng-model="newUser.password" required>
        </label>
        <label class="item item-input signup">
          <span class="input-label"><b>Re-Password</b></span>
          <input class="signup_input" type="password" ng-model="newUser.password2" required>
        </label>
      </ion-list>
      <div class="row">
          <button ng-click="register()" id="login-button14" class="button button-assertive button-block center_div">S'inscrire</button>
      </div>
      <!--<a ng-click="register()" id="signup-button9" class="button button-assertive  button-block">S'inscrire</a>-->
    </form>
    <div id="footer_app" class="bar bar-footer">
        <div class="row">
          <a class="center_div" ui-sref="login" style="font-size: 15px;color: black">Se connecter</a>
        </div>
    </div>
  </ion-content>
</ion-view>