<ion-view id="page1">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1" ng-controller="tabsController">
    <ion-tab title="Food" icon="ion-android-restaurant" ng-click="goTo('tabsController.food')" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Loisir" icon="ion-android-film" href="#/page1/loisir" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Around" icon="ion-ios-world" href="#/page1/around" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cart" icon="ion-ios-cart" href="#/page1/cart" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-ios-contact" href="#/page1/profile" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>